@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Urbanist", sans-serif;
  background-color: #f7f7f7;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.heading0 {
  @apply font-Onest font-bold text-8xl sm:text-[128px] sm:leading-none leading-[56px] tracking-[%-2px];
}

.heading1 {
  @apply font-Onest font-bold sm:leading-none leading-[56px] tracking-[%-2px];
}

.heading11 {
  @apply font-Onest font-bold text-[64px] sm:leading-none leading-[56px] tracking-[%-2px];
}

.heading3 {
  @apply font-Onest font-bold text-[40px] leading-[48px] tracking-[%-2px];
}

.heading6 {
  @apply font-Onest font-normal text-[22px] leading-[48px] tracking-[%-2px];
}

.label {
  @apply font-urbanist font-normal text-[14px] sm:text-[24px] sm:leading-[26px];
}

@supports (-webkit-touch-callout: none) {
  .motion-safe {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

/* Safari-specific fixes */
@supports (-webkit-touch-callout: none) {
  .safari-fix {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .transform-gpu {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}